  GNU nano 8.7.1                         instrument-pull.timer
[Unit]
Description=Run instrument data pull at 8 AM and 8 PM

[Timer]
OnCalendar=*-*-* 08,20:00:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
















                         [ File 'instrument-pull.timer' is unwritable ]
^G Help         ^O Write Out    ^F Where Is     ^K Cut          ^T Execute      ^C Location
^X Exit         ^R Read File    ^\ Replace      ^U Paste        ^J Justify      ^/ Go To Line