  GNU nano 8.7.1                        instrument-cleanup.timer
  [Unit]
  Description=Run Think-Lab staging cleanup daily

  [Timer]
  OnCalendar=*-*-* 02:00:00
  Persistent=true
  Unit=instrument-cleanup.service

  [Install]
  WantedBy=timers.target
















                        [ File 'instrument-cleanup.timer' is unwritable ]
^G Help         ^O Write Out    ^F Where Is     ^K Cut          ^T Execute      ^C Location
^X Exit         ^R Read File    ^\ Replace      ^U Paste        ^J Justify      ^/ Go To Line